global:
  scrape_interval: 5s
   
rule_files:
  - /etc/prometheus/alerts/*.yml

scrape_configs:
  - job_name: "backend"
    metrics_path: /metrics
    static_configs:
      - targets:
          - backend.default.svc.cluster.local:5000
