name: CI - Build & Push Docker Images

on:
  push:
    branches:
      - main

env:
  REGISTRY: docker.io
  IMAGE_BACKEND: ssayan/optiona-backend
  IMAGE_FRONTEND: ssayan/optiona-frontend
  VERSION: v1.0.1

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: |
            ${{ env.IMAGE_BACKEND }}:${{ env.VERSION }}
            ${{ env.IMAGE_BACKEND }}:latest

      - name: Build & Push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: |
            ${{ env.IMAGE_FRONTEND }}:${{ env.VERSION }}
            ${{ env.IMAGE_FRONTEND }}:latest
